@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 1.4rem;
  color: #1d6429;
  font-weight: bold;
}

li {
  list-style: none;
}

.secondaryButton {
  display: inline-block;
  color: black;
  border: 2px solid #1d6429;
  font-weight: bold;
  margin-top: 1em;
  padding: 0.25em;
  font-size: 1rem;
  border-radius: 0.35em;
}
.secondaryButton:hover {
  background: #1d6429;
  color: white;
}

.moreQuestions {
  padding: 2em;
  align-items: center;
}
.moreQuestions a {
  font-size: 1.2rem;
  display: inline-block;
  margin: 0em;
}
.moreQuestions p {
  font-size: 1.3rem;
  display: inline-block;
  padding: 1em;
  margin: 0em;
}

/*FELX STYLES*/
.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

* {
  font-family: "Poppins";
}

.section__title {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

.navbar {
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

nav {
  border-bottom: solid;
  background-color: #e9f0e8;
  padding: 0.5em 10em 0.5em 1em;
}
nav .active {
  font-weight: bold;
}
nav .nav-item a {
  padding-bottom: 0%;
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
  display: inline-block;
}
nav .navbar-toggler {
  border: none;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
nav .navbar-toggler-icon {
  background-image: none;
}

/* LANDING */
.landing {
  background-image: url("../resources/landing_bg_blur.webp");
  background-repeat: no-repeat;
  background-size: 2560px 1440px;
  background-position-x: center;
  background-position-y: -300px;
  padding: 25em 1em 12em 1em;
}
.landing a {
  font-size: 1.75rem;
  text-align: start;
  color: white;
  border: 3px solid #1d6429;
  padding: 0.4em;
  border-radius: 0.5em;
  margin: 2em;
}
.landing a:hover {
  background: #1d6429;
  color: white;
}
.landing h2 {
  font-size: 1.5rem;
}

/* ABOUT */
.about {
  background-color: #e9f0e8;
  padding: 3em 0em 1em 0em;
}
.about img {
  max-width: 100%;
  min-width: 5%;
  height: auto;
  border-radius: 0.35em;
}
.about .about__grid {
  margin: 5em 2em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  -moz-column-gap: 3em;
       column-gap: 3em;
  row-gap: 0em;
  grid-template-areas: "info img1 img2 img3" "button img1 img2 img3";
}
.about .about__info {
  grid-area: info;
}
.about .about__button {
  grid-area: button;
}
.about .about__img1 {
  grid-area: img1;
}
.about .about__img2 {
  grid-area: img2;
}
.about .about__img3 {
  grid-area: img3;
}

/* TIMELINE */
.timeline {
  background-color: #1d2722;
  padding: 3em 0em 1em 0em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.timeline .flex-between {
  margin: 6em 8em;
}
.timeline .flex-between p {
  margin: 2em 0em;
  max-width: 25%;
  color: white;
}

/* OPINIONS */
.opinions {
  padding: 3em 0em 1em 0em;
  background-color: #e9f0e8;
}
.opinions .opinions__container {
  margin: 5em 0em;
}
.opinions .opinions__container .opinions__container__card {
  padding: 2em;
  width: 25vw;
  height: auto;
}
.opinions .opinions__container .opinions__container__card .opinions__container__card__userImg {
  display: block;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 10px 1.5em 0.25em rgba(0, 0, 0, 0.575);
  border-radius: 3em;
  width: 6em;
  height: 6em;
}
.opinions .opinions__container .opinions__container__card p {
  font-size: 1.2rem;
  text-align: center;
  color: black;
  margin: 0.75em 0em;
}
.opinions .opinions__container .opinions__container__card .opinions__container__card__name {
  font-size: 1.3em;
  font-weight: 600;
}

/* CONTACT */
.contact {
  padding: 3em 0em 1em 0em;
  background-color: #1d2722;
}
.contact h2, .contact p {
  color: white;
}
.contact .contact__container {
  margin: 4em 5em;
}
.contact form {
  width: 40vw;
}
.contact form input, .contact form textarea {
  padding: 0.5em;
  margin: 1em 0em;
  resize: none;
  border: 3px solid #b1ccb5;
  max-width: 100%;
}
.contact form .secondaryButton {
  margin-bottom: 0em;
}
.contact form .flex-right input {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.contact .contact__container__info {
  width: 30vw;
}
.contact .contact__container__info p {
  margin-bottom: 0em;
}
.contact .contact__container__info div .flex-between {
  align-items: center;
}
.contact .contact__container__info iframe {
  margin: 0.75em 0em;
  width: 100%;
  height: 100%;
  border: 3px solid #b1ccb5;
}
.contact .contact__container__info img {
  width: 2em;
  height: 2em;
  margin-right: 0.75em;
}

/* MISIÓN */
.mision {
  background-color: #e9f0e8;
}
.mision h1, .mision h2 {
  padding-top: 0em;
  text-align: left;
}
.mision h2 {
  font-size: 1.2em;
}
.mision h4 {
  margin: 0.5em 0em 1.5em 0em;
}
.mision .carousel-inner {
  border-radius: 0.35em;
}

/* TECH */
.tech {
  background-image: url("../resources/earth.webp");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 50em 0em;
  background-attachment: fixed;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 0em 0em 6em 0em;
}
.tech .gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 82%, rgb(0, 0, 0) 98%);
}
.tech .section__title {
  padding-top: 1em;
}
.tech .tech_container {
  padding: 2em 6em;
}
.tech .tech_container__element {
  margin: 2em;
  min-width: 15%;
  max-width: 30%;
  height: auto;
}
.tech .tech_container__element h3 {
  margin: 0em 0em 2em 0em;
  font-size: 1.2rem;
}

/* RESPONSABILITY */
.responsability {
  background-color: #e9f0e8;
  padding: 3em 0em 1em 0em;
}
.responsability img {
  border-radius: 0.35em;
}

/* PROJECTS */
.projects {
  padding: 3em 0em 1em 0em;
  background-color: #e9f0e8;
}
.projects .projects__container__card {
  background-color: rgb(236, 236, 236);
  border: 3px solid;
  border-radius: 0.5em;
  padding: 2em;
  margin: 3em 3em;
  min-width: 26em;
  max-width: 30em;
  height: auto;
  box-shadow: 2px 10px 1.5em 0.25em rgba(0, 0, 0, 0.575);
}
.projects .projects__container__card h2 {
  font-weight: 600;
}
.projects .projects__container__card p, .projects .projects__container__card h2 {
  text-align: center;
  margin: 0.75em 0em;
}
.projects .projects__container__card .progress {
  border: 2px solid #1d6429;
  height: 2em;
  margin-right: 2em;
  font-size: 1em;
}
.projects .projects__container__card .progress-bar {
  background-color: #1d6429;
}
.projects .projects__container__card .secondaryButton {
  margin-top: 0em;
}
.projects .projects__container__card .flex-between {
  align-items: center;
}
.projects .projects__container__card:nth-child(1) .progress-bar::after {
  content: "42% Fondeado";
}
.projects .projects__container__card:nth-child(2) .progress-bar::after {
  content: "67% Fondeado";
}
.projects .projects__container__card .projects__container__card__img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 0.35em;
}

/* PROFILES */
.profiles__container {
  background: linear-gradient(90deg, rgb(233, 240, 232) 0%, rgb(233, 240, 232) 50%, rgb(29, 39, 34) 50%, rgb(29, 39, 34) 100%);
}
.profiles__container .title__container {
  display: flex;
  justify-content: center;
}
.profiles__container .title__container .section__title {
  padding: 0.5em 1em;
  border: 3px solid black;
  border-top-width: 0;
  color: rgb(0, 0, 0);
  border-radius: 0px 0px 0.35em 0.35em;
  background-color: #b1ccb5;
}
.profiles__container .profiles__grid {
  margin: 0em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  -moz-column-gap: 4em;
       column-gap: 4em;
  row-gap: 10em;
  grid-template-areas: "title_1 title_2" "summary_1 summary_2" "numbers_1 numbers_2" "usage_1 usage_2" "graphic_1 graphic_2" "ending_1 ending_2";
}
.profiles__container [class*=profiles__title] {
  margin-bottom: 0em;
  padding: 1em 0em 0em 0em;
  font-size: 4rem;
  justify-self: center;
}
.profiles__container [class*=profiles__title][class*="1"] {
  grid-area: title_1;
}
.profiles__container [class*=profiles__title][class*="2"] {
  grid-area: title_2;
}
.profiles__container [class*=profiles__summary] {
  margin-top: -3em;
}
.profiles__container [class*=profiles__summary] img {
  width: 20em;
  align-self: center;
  border: 3px solid black;
  border-radius: 3em;
  background: #b1ccb5;
}
.profiles__container [class*=profiles__summary] ul {
  align-self: center;
}
.profiles__container [class*=profiles__summary] li {
  list-style: circle;
  padding: 1.5em 0em;
  font-size: 1.75rem;
}
.profiles__container [class*=profiles__summary][class*="1"] {
  grid-area: summary_1;
}
.profiles__container [class*=profiles__summary][class*="2"] {
  grid-area: summary_2;
}
.profiles__container [class*=profiles__numbers] {
  text-align: center;
  font-size: 1.6rem;
}
.profiles__container [class*=profiles__numbers] .line {
  width: 2px;
  background-color: black;
}
.profiles__container [class*=profiles__numbers] .profiles__numbers__disclaimer {
  font-size: 0.9rem;
  text-align: left;
  padding: 0em 1em;
  margin-top: 1em;
}
.profiles__container [class*=profiles__numbers][class*="1"] {
  grid-area: numbers_1;
}
.profiles__container [class*=profiles__numbers][class*="2"] {
  grid-area: numbers_2;
}
.profiles__container [class*=profiles__numbers][class*="2"] .line {
  background-color: white;
}
.profiles__container [class*=profiles__usage] {
  padding: 0em 1em;
}
.profiles__container [class*=profiles__usage] h3 {
  font-size: 1.5rem;
}
.profiles__container [class*=profiles__usage] p {
  font-size: 1rem;
}
.profiles__container [class*=profiles__usage][class*="1"] {
  grid-area: usage_1;
}
.profiles__container [class*=profiles__usage][class*="2"] {
  grid-area: usage_2;
}
.profiles__container [class*=profiles__graphic] {
  margin-top: -6em;
}
.profiles__container [class*=profiles__graphic] .pie_container {
  padding: 2em 8em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.profiles__container [class*=profiles__graphic] .pie_container .piechart {
  width: 25em;
  height: 25em;
  border-radius: 50%;
}
.profiles__container [class*=profiles__graphic][class*="1"] {
  grid-area: graphic_1;
}
.profiles__container [class*=profiles__graphic][class*="1"] .pie_container {
  background-image: url("../resources/pie_chart_1.webp");
}
.profiles__container [class*=profiles__graphic][class*="1"] .pie_container .piechart {
  background-image: conic-gradient(#5d9265 18deg, #3a6e43 0 108deg, #26582f 0 216deg, #184420 0);
}
.profiles__container [class*=profiles__graphic][class*="2"] {
  grid-area: graphic_2;
}
.profiles__container [class*=profiles__graphic][class*="2"] .pie_container {
  background-image: url("../resources/pie_chart_2.webp");
}
.profiles__container [class*=profiles__graphic][class*="2"] .pie_container .piechart {
  background-image: conic-gradient(#5d9265 18deg, #26582f 0 54deg, #184420 0);
}
.profiles__container [class*=profiles__ending] {
  margin-top: -4em;
}
.profiles__container [class*=profiles__ending][class*="1"] {
  grid-area: ending_1;
  text-align: right;
}
.profiles__container [class*=profiles__ending][class*="2"] {
  grid-area: ending_2;
}

/* FAQ */
.questions {
  padding: 3em 0em 1em 0em;
  background-color: #e9f0e8;
}
.questions .accordion_container {
  justify-content: center;
  margin: 4em 0em 1em 0em;
}
.questions .accordion_container .accordion-button {
  background-color: #1d6429;
  color: white;
  padding: 1.5em 1em;
  border: 2px solid #1d2722;
  border-radius: var(--bs-accordion-inner-border-radius);
}
.questions .accordion_container .accordion-button:focus {
  border-color: #1d6429;
  box-shadow: 0 0 0 0.25rem #b1ccb5;
}
.questions .accordion_container .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.questions .accordion_container .accordion-item:not(:first-of-type) .accordion-button {
  margin-top: 3em;
}

.moreQuestions {
  padding: 2em;
  align-items: center;
}
.moreQuestions a {
  font-size: 1.2rem;
  display: inline-block;
  margin: 0em;
}
.moreQuestions p {
  font-size: 1.3rem;
  display: inline-block;
  padding: 1em;
  margin: 0em;
}

.footer {
  padding: 4em 6em;
  border-top: 2px solid #b1ccb5;
  background-color: #1d2722;
}
.footer p, .footer h2, .footer a {
  color: white;
}

.footer__container {
  min-height: 5em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  -moz-column-gap: 3em;
       column-gap: 3em;
  row-gap: 0em;
  grid-template-areas: "logo cta credit" "phrase cta-btns disclaimer" "phrase cta-btns link";
}
.footer__container img {
  width: auto;
  height: 2em;
  padding: 0em 0.5em;
}
.footer__container h2 {
  grid-area: cta;
  text-decoration: underline;
  text-align: center;
  font-size: 1.5rem;
}
.footer__container .flex-between {
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
}
.footer__container .footer__logo {
  grid-area: logo;
}
.footer__container .footer__phrase {
  grid-area: phrase;
  align-self: end;
}
.footer__container hr.solid {
  border-top: 3px solid #1d6429;
  padding: 1em 0em;
  display: none;
}
.footer__container div {
  grid-area: cta-btns;
}
.footer__container .footer__credit {
  grid-area: credit;
}
.footer__container .footer__disclaimer {
  grid-area: disclaimer;
}
.footer__container a :not(.footer__logo) {
  grid-area: link;
}
.footer__container .logo {
  color: #1d6429;
}

.hoverExpandSlow {
  transform: scale(1);
  transition: transform 1s;
}
.hoverExpandSlow:hover {
  transform: scale(1.02);
  transition: transform 1s;
}

.hoverExpandFast {
  transform: scale(1);
  transition: transform 0.25s;
}
.hoverExpandFast:hover {
  transform: scale(1.02);
  transition: transform 0.25s;
}

.movingUnderline {
  background-image: linear-gradient(black, black);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0px 2px;
  transition: background-size 0.5s;
}
.movingUnderline:hover {
  background-size: 100% 2px;
}

@media (max-width: 1920px) {
  /* LANDING */
  .landing {
    background-size: 1920px 1080px;
    background-position-y: -50px;
  }
}
@media (max-width: 1800px) {
  /* PROFILES */
  .profiles__container [class*=profiles__summary] {
    flex-direction: column;
  }
  .profiles__container [class*=profiles__numbers] {
    margin-top: -5em;
  }
  .profiles__container [class*=profiles__numbers] .flex-around {
    flex-direction: column;
    padding: 0em 1em;
  }
  .profiles__container [class*=profiles__numbers] .flex-around div:not(.line) {
    padding: 0.5em 0em;
  }
  .profiles__container [class*=profiles__numbers] .flex-around .line {
    align-self: center;
    width: 15em;
    height: 2px;
  }
  .profiles__container [class*=profiles__usage] {
    margin-top: -6em;
  }
}
@media (max-width: 1400px) {
  /* TECH */
  .tech {
    background-position: 35em 0em;
  }
  /* ABOUT */
  .about .about__grid {
    row-gap: 1em;
    grid-template-areas: "info info info" "button button button" "img1 img2 img3";
  }
  /* PROFILES */
  .profiles__container .profiles__grid {
    -moz-column-gap: 2em;
         column-gap: 2em;
  }
  .profiles__container [class*=profiles__graphic] .pie_container {
    padding: 1.5em 6em;
    width: 492px;
    height: 348px;
  }
  .profiles__container [class*=profiles__graphic] .pie_container .piechart {
    width: 18.75em;
    height: 18.75em;
  }
}
@media (max-width: 1200px) {
  /* LANDING */
  .landing {
    background-position-y: center;
    padding: 20em 1em 10em 1em;
  }
  /* TIMELINE */
  .timeline .flex-between {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
  }
  .timeline .flex-between p {
    max-width: 50%;
  }
  /* OPINIONS */
  .opinions .opinions__container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .opinions .opinions__container .opinions__container__card {
    width: 50vw;
  }
  /* CONTACT */
  .contact .contact__container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .contact .contact__container form {
    padding: 2em 0em;
    width: 60vw;
  }
  .contact .contact__container form .flex-wrap {
    flex-direction: column;
  }
  .contact .contact__container .contact__container__info {
    padding: 2em 0em;
    min-width: 60vw;
    height: 35em;
  }
  /* TECH */
  .tech {
    background-size: 100%;
    background-position: 30em 0em;
  }
  /* FOOTER */
  .footer {
    padding: 4em 4em;
  }
  .footer .footer__container {
    grid-template-areas: "logo cta" "phrase cta-btns" "credit credit" "disclaimer link";
  }
  .footer .footer__container .flex-between {
    justify-content: space-between;
  }
  /* PROFILES */
  .profiles__grid {
    -moz-column-gap: 1em;
         column-gap: 1em;
  }
  .profiles__grid [class*=profiles__title] {
    font-size: 3em;
  }
  .profiles__grid [class*=profiles__summary] img {
    width: 15em;
  }
  .profiles__grid [class*=profiles__summary] li {
    font-size: 1.25rem;
  }
  .profiles__grid [class*=profiles__numbers] .flex-around .line {
    width: 12em;
  }
  .profiles__grid [class*=profiles__graphic] .pie_container {
    padding: 1em 4em;
    width: 369px;
    height: 261px;
  }
  .profiles__grid [class*=profiles__graphic] .pie_container .piechart {
    width: 14em;
    height: 14em;
  }
  .profiles__grid [class*=profiles__ending] p {
    font-size: 1.1em;
    text-align: center;
  }
  .profiles__grid [class*=profiles__ending][class*="2"] p {
    padding-right: 1em;
  }
  .profiles__grid .moreQuestions {
    padding: 1em 0em;
  }
  .profiles__grid .moreQuestions a {
    margin-right: 1em;
  }
}
@media (max-width: 800px) {
  /* PROFILES */
  .profiles__grid [class*=profiles__graphic] .pie_container {
    padding: 1em 4em;
    width: 328px;
    height: 232px;
  }
  .profiles__grid [class*=profiles__graphic] .pie_container .piechart {
    width: 12.5em;
    height: 12.5em;
  }
}
@media (max-width: 768px) {
  /* GENERAL */
  .section__title {
    font-size: 2.5rem;
  }
  /* LANDING */
  .landing {
    background-position-x: -400px;
    padding: 15em 1em 8em 1em;
  }
  .landing h1 {
    font-size: 3rem;
  }
  /* ABOUT */
  .about .about__grid {
    -moz-column-gap: 1em;
         column-gap: 1em;
    grid-template-areas: "info info" "button button" "img1 img2" "img3 img3";
  }
  /* TIMELINE */
  .timeline .flex-between p {
    max-width: 90%;
  }
  /* OPINIONS */
  .opinions .opinions__container .opinions__container__card {
    width: 90vw;
  }
  /* CONTACT */
  .contact .contact__container {
    margin: 0em 2em;
  }
  .contact .contact__container form {
    width: 90%;
  }
  .contact .contact__container form textarea {
    height: 15em;
  }
  .contact .contact__container .contact__container__info {
    width: 90%;
  }
  .contact .contact__container .contact__container__info .flex-wrap {
    flex-direction: column;
  }
  .contact .contact__container .contact__container__info div {
    align-self: center;
    justify-content: center;
  }
  /* TECH */
  .tech {
    background-size: 120%;
    background-position: 20em 0em;
  }
  .tech .tech_container__element {
    max-width: 50%;
  }
  .tech .tech_container {
    padding: 2em 3em;
  }
  /* PROJECTS */
  .projects .projects__container__card {
    margin: 1.5em 1em;
    min-width: 15em;
  }
  /* PROFILES*/
  .profiles__container {
    background: linear-gradient(180deg, rgb(233, 240, 232) 0%, rgb(233, 240, 232) 47%, rgb(29, 39, 34) 47%, rgb(29, 39, 34) 100%);
  }
  .profiles__container .profiles__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    -moz-column-gap: 4em;
         column-gap: 4em;
    row-gap: 10em;
    grid-template-areas: "title_1" "summary_1" "numbers_1" "usage_1" "graphic_1" "title_2" "summary_2" "numbers_2" "usage_2" " graphic_2" "ending_1" "ending_2";
  }
  .profiles__container .profiles__grid [class*=profiles__summary] {
    flex-direction: row;
  }
  .profiles__container .profiles__grid [class*=profiles__summary] img {
    width: 15em;
  }
  .profiles__container .profiles__grid [class*=profiles__summary] li {
    font-size: 1.25rem;
  }
  .profiles__container .profiles__grid [class*=profiles__ending] {
    justify-content: center;
  }
  .profiles__container .profiles__grid [class*=profiles__ending] p {
    display: block;
    color: white;
  }
  .profiles__container .profiles__grid .profiles__ending_2 {
    margin-top: -10em;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  /* FAQ*/
  .questions__container__card {
    margin: 1.5em 1em;
    min-width: 15em;
  }
  /* FOOTER */
  .footer .footer__container {
    grid-template-areas: "logo" "phrase" "credit" "disclaimer" "link" "cta" "cta-btns";
  }
  .footer .footer__container h2 {
    padding-bottom: 1em;
  }
  .footer hr.solid {
    display: block;
  }
}
@media (max-width: 576px) {
  /* GENERAL */
  .section__title {
    font-size: 2rem;
  }
  .moreQuestions p {
    font-size: 1.2rem;
  }
  /* TECH */
  .tech {
    background-size: 140%;
    background-position: 15em 0em;
  }
  .tech .tech_container {
    padding: 2em 2em;
  }
  .tech .tech_container .tech_container__element {
    max-width: 100%;
  }
  /* PROJECTS */
  .projects .projects__container__card:nth-child(1) .progress-bar::after {
    content: "42%";
  }
  .projects .projects__container__card:nth-child(2) .progress-bar::after {
    content: "67%";
  }
  /* PROFILES */
  .profiles__container .profiles__grid [class*=profiles__summary] {
    margin-top: -6em;
    flex-direction: column;
  }
  .profiles__container .profiles__grid [class*=profiles__summary] img {
    width: 20em;
  }
  .profiles__container .profiles__grid [class*=profiles__summary] li {
    font-size: 1.5rem;
  }
}
@media (max-width: 380px) {
  /* LANDING */
  .landing h1 {
    font-size: 2.5em;
  }
  .landing h2 {
    font-size: 1.25em;
  }
  .landing a {
    margin: 2em 0em;
  }
  /* MISION */
  .responsability h2 {
    font-size: 1.75em;
  }
  /* PROFILES */
  .profiles__container .profiles__grid [class*=profiles__title] {
    font-size: 2.25rem;
  }
  .profiles__container .profiles__grid [class*=profiles__summary] img {
    width: 15em;
  }
  .profiles__container .profiles__grid [class*=profiles__summary] li {
    font-size: 1.25rem;
  }
  .profiles__container .profiles__grid [class*=profiles__numbers] {
    font-size: 1.3rem;
  }
  .profiles__container .profiles__grid [class*=profiles__numbers] .flex-around .line {
    width: 10em;
  }
  .profiles__container .profiles__grid [class*=profiles__numbers] .profiles__numbers__disclaimer {
    font-size: 0.9rem;
  }
  .profiles__container .profiles__grid [class*=profiles__graphic] .pie_container {
    padding: 0.75em 3em;
    width: 246px;
    height: 174px;
  }
  .profiles__container .profiles__grid [class*=profiles__graphic] .pie_container .piechart {
    width: 9.375em;
    height: 9.375em;
  }
  .profiles__container .profiles__grid .profiles__ending_2 {
    flex-direction: column;
  }
  .profiles__container .profiles__grid .profiles__ending_2 a {
    margin: 0em;
  }
  /*FAQ*/
  .questions .moreQuestions p {
    padding: 0em 0em 1em 0em;
  }
}/*# sourceMappingURL=main.css.map */