.hoverExpandSlow {
    transition: transform 1s;
    &:hover {
        transform: scale(1.02);
    }
}

.hoverExpandFast {
    transition: transform 0.25s;
    &:hover {
        transform: scale(1.02);
    }
}

.hoverButton {
    transition: transform 0.5s;
    &:hover {
        transform: scale(1.05);
    }
}

.movingUnderline {
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0px 2px;
    transition: background-size .5s;

    &:hover {
        background-size: 100% 2px;
    }
}