@media (max-width:1920px) {
    /* LANDING */
    .landing {
        background-size: 1920px 1080px;
        background-position-y: -50px;
    }
}

@media (max-width:1400px) {
    /* TECH */
    .tech {
        background-position: 35em 0em;
    }
}

@media (max-width:1200px) {
    /* LANDING */
    .landing {
        background-position-y: center;
        padding: 20em 1em 10em 1em;
    }
    /* ABOUT */
    .about__grid {
        row-gap: 1em;
        grid-template-areas: 
        "info info info"
        "button button button"
        "img1 img2 img3";
    }
    /* TIMELINE */
    .timeline .flex-between {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 80vh;
        margin: 0;

        p {
            max-width: 50%;
            margin: 0;
        }
    }
    /* OPINIONS */
    .opinions__container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .opinions__container__card {
        width: 50vw;
    }
    /* CONTACT */
    .contact .contact__container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .contact form {
        padding: 2em 0em;
        width: 60vw;

        .flex-wrap {
            flex-direction: column;
        }
    }
    .contact__container__info {
        padding: 2em 0em;
        min-width: 60vw;
        height: 35em;
    }
    /* TECH */
    .tech {
        background-size: 100%;
        background-position: 30em 0em;
    }
    /* FOOTER */
    .footer {
        padding: 4em 4em;
    }
    .footer__container {
        grid-template-areas: 
        "logo cta"
        "phrase cta-btns"
        "credit credit"
        "disclaimer link";

        .flex-between {
            justify-content: space-between;
        }
    }
}

@media (max-width:768px) {
    .section__title {
        font-size: 2.5rem;
    }
    /* LANDING */
    .landing {
        background-position-x: -400px;
        padding: 15em 1em 8em 1em;

        h1{
            font-size: 3rem;
        }
    }
    /* ABOUT */
    .about__grid {
        column-gap: 1em;
        grid-template-areas: 
        "info info"
        "button button"
        "img1 img2"
        "img3 img3";
    }
    #about__img3__portrait {
        display: none;
    }
    #about__img3__landscape {
        display: block;
    }
    /* TIMELINE */
    .timeline .flex-between p{
        max-width: 90%;
    }
    /* OPINIONS */
    .opinions__container__card {
        width: 90vw;
    }
    /* CONTACT */
    .contact {
        .contact__container {
            margin: 0em 2em;
        }

        form {
            width: 90%;

            textarea {
                height: 15em;
            }
        }
    }
    .contact__container__info {
        width: 90%;

        .flex-wrap {
            flex-direction: column;
        }

        div {
            align-self: center;
            justify-content: center;
        }
    }
    /* TECH */
    .tech {
        background-size: 120%;
        background-position: 20em 0em;
    }
    .tech .tech_container__element {
        max-width: 50%;
    }
    .tech .tech_container {
        padding: 2em 3em;
    }
    /* PROJECTS */
    .projects__container__card {
        min-width: 15em;
    }
    /* PROFILES */
    .profiles__container__card {
        padding: 1em;
        margin: 1em 2em;
        min-width: 25em;
    }
    /* FAQ*/
    .questions__container__card {
        margin: 1.5em 1em;
        min-width: 15em;
    }
    /* FOOTER */
    .footer__container {
        grid-template-areas: 
        "logo"
        "phrase"
        "credit"
        "disclaimer"
        "link"
        "cta"
        "cta-btns";

        h2 {
            padding-bottom: 1em;
        }
    }
    .footer hr.solid {
        display: block;
    }
}

@media (max-width:576px) {
    .section__title {
        font-size: 2rem;
    }
    /* TECH */
    .tech {
        background-size: 140%;
        background-position: 15em 0em;
    }
    .tech .tech_container__element {
        max-width: 100%;
    }
    .tech .tech_container {
        padding: 2em 2em;
    }
    /* PROFILES */
    .profiles__container__card {
        min-width: 15em;
    }
    /* FAQ */
    .moreQuestions p {
        font-size: 1.2rem;
        padding: 1em 0em;
    }
}