/* LANDING */
.landing {
    background-image: url("../resources/landing_bg_blur.webp");
    background-repeat:no-repeat;
    background-size: 2560px 1440px;
    background-position-x: center;
    background-position-y: -300px;

    padding: 25em 1em 12em 1em;

    a{
        @include text(1.75rem, start, white);
        border: 3px solid $mainColor;
        padding: 0.4em;
        border-radius: 0.5em;
        margin: 2em;

        &:hover{
            background: $mainColor;
            color: white;
        }
    }

    h2{
        font-size: 1.5rem;
    }
}

/* ABOUT */

.about {
    background-color: $backgroundColorLigth;
    padding: 3em 0em 1em 0em;

    img{
        max-width: 100%;
        min-width: 5%;
        height: auto;
        border-radius: 0.35em;
    }
}

.about__grid {
    margin: 5em 2em;
    @include grid (auto, auto, 3em, 0em);
    grid-template-areas: 
    "info img1 img2 img3"
    "button img1 img2 img3";
}

.about__info {
    grid-area: info;
}

.about__button {
    grid-area: button;
}

.about__img1 {
    grid-area: img1;
}

.about__img2 {
    grid-area: img2;
}

.about__img3 {
    grid-area: img3;
}

/* TIMELINE */

.timeline {
    background-color: $backgroundColorDark;
    padding: 3em 0em 1em 0em;
    height: fit-content;

    .flex-between {
        margin: 6em 8em;

        p {
            margin: 2em 0em;
            max-width: 25%;
            color: white;
        }
    }
}

/* OPINIONS */

.opinions {
    padding: 3em 0em 1em 0em;
    background-color: $backgroundColorLigth;
}

.opinions__container {
    margin: 5em 0em;
}

.opinions__container__card {
    padding: 2em;
    width: 25vw;
    height: auto;

    p {
        @include text(1.2rem, center, black);
        margin: 0.75em 0em;
    }
}

.opinions__container__card__userImg{
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 10px 1.5em 0.25em rgba(0, 0, 0, 0.575);
    border-radius: 3em;
    width: 6em;
    height: 6em;
}

.opinions__container__card__name {
    font-size: 1.3em;
    font-weight: 600;
}

/* CONTACT */

.contact {
    padding: 3em 0em 1em 0em;
    background-color: $backgroundColorDark;

    h2, p {
        color: white;
    }

    .contact__container {
        margin: 4em 5em;
    }

    form {
        width: 40vw;

        input, textarea{
            padding: 0.5em;
            margin: 1em 0em;
            resize: none;
            border: 3px solid $secondaryColor;
            max-width: 100%;
        }

        .secondaryButton {
            margin-bottom: 0em;
        }

        .flex-right input{
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
    }
}

.contact__container__info {
    width: 30vw;

    p {
        margin-bottom: 0em;
    }

    div .flex-between {
        align-items: center;
    }

    iframe {
        margin: 0.75em 0em;
        width: 100%;
        height: 100%;
        border: 3px solid $secondaryColor;
    }

    img {
        width: 2em;
        height: 2em;
        margin-right: 0.75em;
    }
    
}

/* MISIÓN */

.mision {
    background-color: $backgroundColorLigth;
    
    h1,h2 {
        padding-top: 0em;
        text-align: left;
    }
    h2 {
        font-size: 1.2em;
    }
    h4 {
        margin: 0.5em 0em 1.5em 0em;
    }
    .carousel-inner {
        border-radius: 0.35em;
    }
}

/* TECH */

.tech {
    background-image: url("../resources/earth.webp");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 50em 0em;
    background-attachment: fixed;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 0em 0em 6em 0em;

    .gradient {
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 82%, rgba(0,0,0,1) 98%);
    }

    .section__title{
        padding-top: 1em;
    }

    .tech_container {
        padding: 2em 6em;
    }

    .tech_container__element {
        margin: 2em;
        min-width: 15%;
        max-width: 30%;
        height: auto;

        h3 {
            margin: 0em 0em 2em 0em;
            font-size: 1.2rem;
        }
    }
}

/* RESPONSABILITY */

.responsability {
    background-color: $backgroundColorLigth;
    padding: 3em 0em 1em 0em;

    img{
        border-radius: 0.35em;
    }
}

/* PROJECTS */

.projects {
    padding: 3em 0em 1em 0em;
    background-color: $backgroundColorLigth;
}

.projects__container__card {
    background-color: rgb(236, 236, 236);
    border: 3px solid;
    border-radius: 0.5em;
    padding: 2em;
    margin: 3em 3em;
    min-width: 26em;
    max-width: 30em;
    height: auto;
    box-shadow: 2px 10px 1.5em 0.25em rgba(0, 0, 0, 0.575);

    h2 {
        font-weight: 600;
    }

    p, h2 {
        text-align: center;
        margin: 0.75em 0em;
    }

    .progress {
        border: 2px solid $mainColor;
        height: 2em;
        margin-right: 2em;
        font-size: 1em;
    }

    .progress-bar{
        background-color: $mainColor;
    }

    .secondaryButton{
        margin-top: 0em;
    }

    .flex-between{
        align-items: center;
    }

    &:nth-child(1){
        .progress-bar{
            &::after{
                content:'42% Fondeado';
            }
        }
    }

    &:nth-child(2){
        .progress-bar{
            &::after{
                content:'67% Fondeado';
            }
        }
    }
}

.projects__container__card__img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 0.35em;
}

/* PROFILES */

.profiles__container {
    background: linear-gradient(90deg, rgba(233,240,232,1) 0%, rgba(233,240,232,1) 50%, rgb(29,39,34,1) 50%, rgba(29,39,34,1) 100%);

    .title__container {
        display: flex;
        justify-content: center;
    }

    .section__title {
        padding: 0.5em 1em;
        border: 3px solid black ;
        border-top-width: 0;
        color: rgb(0, 0, 0);
        border-radius: 0px 0px 0.35em 0.35em;
        background-color: $secondaryColor;
    }

    [class*="profiles__title"] {
        margin-bottom: 0em;
        padding: 1em 0em 0em 0em;
        font-size: 4rem;
        justify-self: center;
    }

    [class*="profiles__summary"] {
        margin-top: -3em;
        img {
            width: 20em;
            align-self: center;
            border: 3px solid black;
            border-radius: 3em;
            background: $secondaryColor;
        }
        ul {
            align-self: center;
        }
        li {
            list-style: circle;
            padding: 1.5em 0em;
            font-size: 1.75rem;
        } 
    }

    [class*="profiles__numbers"] {
        text-align: center;
        font-size: 1.6rem;

        .line {
            width: 2px;
            background-color: black;
        }

        .profiles__numbers__disclaimer {
            font-size: 0.9rem;
            text-align: left;
            padding: 0em 1em;
            margin-top: 1em;
        }
    }

    .profiles__numbers_2 {
        .line {
            background-color: white;
        }
    }

    [class*="profiles__usage"] {
        padding: 0em 1em;
        h3 {
            font-size: 1.5rem;
        }
        p {
            font-size: 1rem;
        }
    }

    [class*="profiles__graphic"] {
        margin-top: -6em;
        .pie_container{
            padding: 2em 8em;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            .piechart {
                width: 25em;
                height: 25em;     
                border-radius: 50%;
            }
        }
    }

    .profiles__graphic_1{
        .pie_container{
            background-image: url("../resources/pie_chart_1.webp");
            .piechart {
                background-image: conic-gradient(
                    #5d9265 18deg, 
                    #3a6e43 0 108deg,
                    #26582f 0 216deg,
                    #184420 0);
            }
        }
    }

    .profiles__graphic_2{
        .pie_container{
            background-image: url("../resources/pie_chart_2.webp");
            .piechart {
                background-image: conic-gradient(
                    #5d9265 18deg, 
                    #26582f 0 54deg,
                    #184420 0);
            }
        }
    }

    [class*="profiles__ending"] {
        margin-top: -4em;
    }
}

.profiles__grid {
    margin: 0em;
    @include grid (1fr 1fr, auto, 4em, 10em);
    
    grid-template-areas:
    "title_1 title_2"
    "summary_1 summary_2"
    "numbers_1 numbers_2"
    "usage_1 usage_2"
    "graphic_1 graphic_2"
    "ending_1 ending_2";
}

.profiles__title_1 {
    grid-area: title_1;
}

.profiles__title_2 {
    grid-area: title_2;
    color: white;
}

.profiles__summary_1 {
    grid-area: summary_1;
}

.profiles__summary_2 {
    grid-area: summary_2;
    color: white;
}

.profiles__numbers_1 {
    grid-area: numbers_1;
}

.profiles__numbers_2 {
    grid-area: numbers_2;
    color: white;
}

.profiles__usage_1 {
    grid-area: usage_1;
}

.profiles__usage_2 {
    grid-area: usage_2;
    color: white;
}

.profiles__graphic_1 {
    grid-area: graphic_1;
}

.profiles__graphic_2 {
    grid-area: graphic_2;
}

.profiles__ending_1 {
    grid-area: ending_1;
    text-align: right;
    //margin-right: 2em;
}

.profiles__ending_2 {
    grid-area: ending_2;
    color: white;

    a {
        color: white;
    }
}

/* FAQ */
.questions {
    padding: 3em 0em 1em 0em;
    background-color: $backgroundColorLigth;
}

.accordion_container {
    justify-content: center;
    margin: 4em 0em 1em 0em;
    
    .accordion-button {
        background-color: $mainColor;
        color: white;
        padding: 1.5em 1em;
        border-radius: var(--bs-accordion-inner-border-radius);
        &:focus {
            border-color: $mainColor;
            box-shadow: 0 0 0 0.25rem $secondaryColor;
        }  
        &::after {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}

    }

    .accordion-item {
        &:not(:first-of-type){
            .accordion-button{
                margin-top: 3em;
            }
        }
    }
}

.moreQuestions {
    padding: 2em;
    align-items: center;

    a {
        font-size: 1.2rem;
        display: inline-block;
        margin: 0em;
    }

    p {   
        font-size: 1.3rem;
        display: inline-block;
        padding: 1em;
        margin: 0em;
    }
}