@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    font-family: "Poppins";
    text-align: justify;
}

.section__title {
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
}